body{
    background-image: url(patron.jpg);
    background-size: 40%;
}

.titulos{
    font-weight: 600;
    font-size: 1.3rem;
    color: #444;
    margin-bottom: 0px;
}

.form-label{
    margin-bottom: 0px;
    margin-top: 8px;
    font-weight: 600;
    color: #444;
}

.container_registro, .container_sesion{
    display: flex;
    justify-content: center;
}

.form_sesion, .form_registro{
    width: 84%;
    /* height: auto; */
    padding: 16px 32px;
    border-radius: 10px;
    background-color: white;
}

.container_portada{
    margin-top: 50px;
    height: 150px;
    background-image: url(portada_aerolineas.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
}

.vuelo_card{
    max-height: 130px;
    object-fit: cover;
}

.card-body{
    padding: 1rem !important;
}

.empresa{
    font-weight: 600;
    margin: 0 !important;
}

.ruta{
    font-weight: 600;
    margin: 0 !important;
}

.hr-sep{
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}

.descripcion{
    font-size: 14px;
}

.precio{
    font-size: 24px;
    font-weight: 600;
}